/* @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700'); */

.header {
  width: 100%;
  color: white;
  background: #3b71a5;
  margin-bottom: 2em;
  color: #f4b861;
  margin: -20px;
  padding: 20px;
}

.header-text {
  display: block;
  width: 60%;
  font-weight: bold;
  font-size: 25px;
}

.bold {
  text-transform: uppercase;
  font-weight:bold;
}

.jobDetails {
  text-decoration: none;
  font-size: 16px;
  margin-top: 3em;
  margin-bottom: 2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #3b71a5;
}

.button {
  padding: 4px 4px;
  background: #feb64e;
  color: white;
  width: 80px;
  border: 0px;
  border-radius: 6px;
  float: right;
  position: relative;
  margin: -50px 10px 0 0;
  font-size: 20px;
}

.modalgrid-container {
  display: grid;
  grid-template-columns: 70% 30%;
}

.todo {
  border-left: 1px solid #3b71a5;
  height: 100%;
  margin-top: 30px;
  margin-left: 10em;
  padding-left: 40px;
  font-size: 15px;
  color: #3b71a5;
}

.checkboxlabel{
  padding: 10px;
  font-size: 15px;
}

.newjobmodal{
  position: fixed;
  width: 60%;
  height: 85%;
  background-color: white;
  display: block;
  padding: 20px;
  position: center;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  padding: 1em;
  margin: 1em;
  width: 94%;
  display: block;
  font-size: 13px;
}

.statuslabel {
  margin-bottom: 10px;
  padding: 20px;
}

.newjobbutton {
  padding: 4px 4px;
  background: #3b71a5;
  color: white;
  width: 80px;
  border: 0px;
  border-radius: 6px;
  margin-left: 18.5em;
  font-size: 20px;
}

.newjobbutton:hover {
  background: #feb64e;
}