/* @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700'); */

.header {
  width: 100%;
  color: white;
  background: #3b71a5;
  padding: 4px 0px 4px 12px;
}

.header-text {
  display: block;
  width: 60%;
}

.bold {
  text-transform: uppercase;
}

.button {
  padding: 4px 4px;
  background: #feb64e;
  color: white;
  width: 80px;
  border: 0px;
  border-radius: 6px;
  float: right;
  position: relative;
  margin: -50px 40px 0 0;
  font-size: 20px;
}

.modalgrid-container {
    display: inline-grid;
    grid-template-columns: 70% 30%;  
}

.todo {
  border-left: 1px solid #3b71a5;
  height: 100vh;
  margin-left: 20px;
  padding-left: 40px
}